.apeshit button {
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  margin: auto;  
}
.Hub{
    margin: auto;
    display: block;
    width: 50%;
}
body{
    background-image: url("images/BG.png");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position-y: -600px;
}